@inherits LayoutComponentBase

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="#page-top">USA Shavings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="mailto:usashavings@gmail.com">USAShavings@gmail.com</a></li>
                <li class="nav-item"><a class="nav-link" href="tel:+15555555555">555-555-5555In</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
